<!doctype html>
{% load static%}
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>{% block title %}комииииксы{% endblock %}</title>
</head>
<body>
   <h1 style="text-align: center; font-size:30px"><span style="color: #000000;"><strong>Добро пожаловать в магазин комиксов и манги!</strong></span></h1>
<h2 style="text-align: center; font-size:30px"><span style="color: #000000;"><strong>Тут должно было быть название.&nbsp;</strong></span></h2>
    {% block content %}{% endblock %}
</body>
</html>